<?xml version="1.0" encoding="UTF-8"?>
<phpunit strict="true">
    <php>
        <ini name="memory_limit" value="1512M"/>
        <const name="PHPUNIT" value="true"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>